.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #333;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #fff;
}

.carousel-control-prev-icon::before,
.carousel-control-next-icon::before {
  content: '\2039';
}

.carousel-control-next-icon::before {
  content: '\203a';
}

.carousel-indicators li {
  background-color: #333;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  margin: 0 8px;
}

.carousel-indicators .active {
  background-color: #fff;
}

.carousel-item {
  background-color: black;
  color:white;
  padding: 50px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel-item h5 {
  margin-bottom: 10px;
}

.carousel-item small {
  font-style: italic;
}
